<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="ServersNumber" value="2" />
    
    <!--Stateless service test params-->

    <add key="StatelessBindingForTest" value="BasicHttpEndPoint" />
    <add key="RestService" value="false" />
    <add key="SupportStreaming" value="true" />
    <add key="RequestsPerTest" value="100" /> <!--RequestsPerTest % ServersNumber should be equal to 0-->
    <add key="FileForUploadingPath" value="Resources\FileForUploading.jpg" />
    <add key="DownloadedFilePath" value="Resources\DownloadedFile.jpg" />

    <!--Stateful service test params-->

    <add key="StatefulBindingForTest" value="WsDualHttpEndpoint" />
    <add key="SessionsPerTest" value="20" />
    <add key="RequestsPerSession" value="100" /> <!--RequestsPerSession % ServersNumber should be equal to 0-->
    <add key="ServerIdUrlParamName" value="serverid" />
    <add key="StickyUrlParamName" value="sticky" />
  </appSettings>
  <system.serviceModel>
    <bindings>

      <!--Stateless bindings-->
      
      <basicHttpBinding>
        <binding name="BasicHttpEndPoint" maxReceivedMessageSize="67108864" messageEncoding="Mtom" />
        <binding name="BasicHttpEndPointSsl" maxReceivedMessageSize="67108864" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="BasicHttpEndPointSslTerminate" maxReceivedMessageSize="67108864" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="BasicHttpEndPointSslTerminateClientCert" maxReceivedMessageSize="67108864" messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpEndPoint" maxReceivedMessageSize="67108864" />
        <binding name="WebHttpEndPointSsl" maxReceivedMessageSize="67108864">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" proxyCredentialType="None" realm="" />
          </security>
        </binding>
        <binding name="WebHttpEndPointSslTerminate" maxReceivedMessageSize="67108864">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
        <binding name="WebHttpEndPointSslTerminateClientCert" maxReceivedMessageSize="67108864">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpEndPoint" transferMode="Streamed" maxReceivedMessageSize="67108864">
          <security mode="None" />
        </binding>
        <binding name="NetTcpEndPointSsl" transferMode="Streamed" maxReceivedMessageSize="67108864">
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
      <udpBinding>
        <binding name="UdpEndPoint" maxReceivedMessageSize="67108864" timeToLive="5" />
      </udpBinding>
      <customBinding>
        <binding name="BasicHttpCustomEndPointSsl" sendTimeout="00:30:00">
          <mtomMessageEncoding messageVersion="Soap11" />
          <httpsTransport keepAliveEnabled="false" maxReceivedMessageSize="67108864" transferMode="Streamed" requireClientCertificate="true" />
        </binding>
        <binding name="WebHttpCustomEndPointSsl" sendTimeout="00:30:00">
          <webMessageEncoding />
          <httpsTransport keepAliveEnabled="false" maxReceivedMessageSize="67108864" transferMode="Streamed" requireClientCertificate="true" manualAddressing="true" />
        </binding>
        <binding name="NetTcpCustomEndPointSsl" sendTimeout="00:30:00">
            <binaryMessageEncoding />
            <sslStreamSecurity requireClientCertificate="true" />
            <tcpTransport maxReceivedMessageSize="67108864" transferMode="Streamed">
              <connectionPoolSettings leaseTimeout="00:00:00" />
            </tcpTransport>
        </binding>
        
        <!--Stateful bindings-->
          
        <binding name="WsDualHttpEndPoint">
          <reliableSession />
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="MutualCertificate" />
          </security>
          <compositeDuplex clientBaseAddress="http://testclient:8009/" />
          <oneWay />
          <textMessageEncoding />
          <httpTransport keepAliveEnabled="false" />
        </binding>
        <binding name="NetTcpCustomStatefulEndPoint">
          <reliableSession />
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="MutualCertificate" />
          </security>
          <binaryMessageEncoding />
          <tcpTransport maxReceivedMessageSize="67108864">
            <connectionPoolSettings leaseTimeout="00:00:00" />
          </tcpTransport>
        </binding>
        <binding name="NetTcpCustomStatefulEndPointSsl">
          <reliableSession/>
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="MutualCertificate" />
          </security>
          <binaryMessageEncoding />
          <sslStreamSecurity requireClientCertificate="true"/>
          <tcpTransport maxReceivedMessageSize="67108864">
            <connectionPoolSettings leaseTimeout="00:00:00" />
          </tcpTransport>
        </binding>
      </customBinding>
    </bindings>
    <client>

      <!--Stateless endpoints-->
      
      <endpoint address="http://testservice:8733/" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPoint" contract="IStatelessService" name="BasicHttpEndPoint" />
      <endpoint address="https://testservice:8734/" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPointSsl" contract="IStatelessService" name="BasicHttpEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="https://testservice:8735/" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPointSslTerminate" contract="IStatelessService" name="BasicHttpEndPointSslTerminate" />
      <endpoint address="https://testservice:8735/" binding="basicHttpBinding" bindingConfiguration="BasicHttpEndPointSslTerminateClientCert" contract="IStatelessService" name="BasicHttpEndPointSslTerminateClientCert" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="https://testservice:8736/" binding="customBinding" bindingConfiguration="BasicHttpCustomEndPointSsl" contract="IStatelessService" name="BasicHttpCustomEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="http://testservice:9733/" binding="webHttpBinding" bindingConfiguration="WebHttpEndPoint" contract="IStatelessService" name="WebHttpEndPoint" />
      <endpoint address="https://testservice:9734/" binding="webHttpBinding" bindingConfiguration="WebHttpEndPointSsl" contract="IStatelessService" name="WebHttpEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="https://testservice:9735/" binding="webHttpBinding" bindingConfiguration="WebHttpEndPointSslTerminate" contract="IStatelessService" name="WebHttpEndPointSslTerminate" />
      <endpoint address="https://testservice:9735/" binding="webHttpBinding" bindingConfiguration="WebHttpEndPointSslTerminateClientCert" contract="IStatelessService" name="WebHttpEndPointSslTerminateClientCert" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="https://testservice:9736/" binding="customBinding" bindingConfiguration="WebHttpCustomEndPointSsl" contract="IStatelessService" name="WebHttpCustomEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="net.tcp://testservice:9000/" binding="netTcpBinding" bindingConfiguration="NetTcpEndPoint" contract="IStatelessService" name="NetTcpEndPoint" />
      <endpoint address="net.tcp://testservice:9001/" binding="netTcpBinding" bindingConfiguration="NetTcpEndPointSsl" contract="IStatelessService" name="NetTcpEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="net.tcp://testservice:9002/" binding="customBinding" bindingConfiguration="NetTcpCustomEndPointSsl" contract="IStatelessService" name="NetTcpCustomEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="soap.udp://testservice:8000/" binding="udpBinding" bindingConfiguration="UdpEndPoint" contract="IStatelessService" name="UdpEndPoint" />

      <!--Stateful endpoints-->

      <endpoint address="http://testservice:8833/" binding="customBinding" bindingConfiguration="WsDualHttpEndPoint" contract="IStatefulService" name="WsDualHttpEndPoint" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="net.tcp://testservice:9833/" binding="customBinding" bindingConfiguration="NetTcpCustomStatefulEndPoint" contract="IStatefulService" name="NetTcpCustomStatefulEndPoint" behaviorConfiguration="ClientCertBehavior" />
      <endpoint address="net.tcp://testservice:9834/" binding="customBinding" bindingConfiguration="NetTcpCustomStatefulEndPointSsl" contract="IStatefulService" name="NetTcpCustomStatefulEndPointSsl" behaviorConfiguration="ClientCertBehavior" />
    </client>
    <behaviors>
      <endpointBehaviors>
        <behavior name="ClientCertBehavior">
            <clientCredentials>
                <clientCertificate findValue="82ccd685b3a1a3388251f382ae0f4f082dec7f9d" storeLocation="LocalMachine" x509FindType="FindByThumbprint" />
                <serviceCertificate>
                  <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
                  <defaultCertificate storeLocation="LocalMachine" findValue="455273631a33cda81ac2de2e278b7435d5609eb8" x509FindType="FindByThumbprint" />
                </serviceCertificate>
            </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>