<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="ServersNumber" value="1"/>
      <add key="RequestsPerTest" value="100"/>
    </appSettings>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpEndPoint" maxReceivedMessageSize="67108864"
            messageEncoding="Mtom" />
        </basicHttpBinding>
        <webHttpBinding>
          <binding name="WebHttpEndPoint" maxReceivedMessageSize="67108864">
            <security mode="None" />
          </binding>
        </webHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpEndPoint" transferMode="Streamed" maxReceivedMessageSize="67108864">
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <udpBinding>
          <binding name="UdpEndPoint" maxReceivedMessageSize="67108864" />
        </udpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost.fiddler:8733/" binding="basicHttpBinding"
            bindingConfiguration="BasicHttpEndPoint" contract="IStatelessService"
            name="BasicHttpEndPoint" />
        <endpoint address="http://localhost.fiddler:9733/" binding="webHttpBinding"
            bindingConfiguration="WebHttpEndPoint" contract="IStatelessService"
            name="WebHttpEndPoint" behaviorConfiguration="WebHttpBehavior" />
        <endpoint address="net.tcp://localhost:9000/" binding="netTcpBinding"
            bindingConfiguration="NetTcpEndPoint" contract="IStatelessService"
            name="NetTcpEndPoint" />
        <endpoint address="soap.udp://localhost:8000/" binding="udpBinding"
            bindingConfiguration="UdpEndPoint" contract="IStatelessService"
            name="UdpEndPoint" />
      </client>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebHttpBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="TestServiceBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="False" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
    </system.serviceModel>
</configuration>