<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    </appSettings>
    <system.web>
      <compilation debug="true" />
    </system.web>
    <system.serviceModel>
      <services>
        <service name="WcfServiceLibrary.TestService" behaviorConfiguration="TestServiceBehavior">
          <endpoint address="" binding="basicHttpBinding" contract="WcfServiceLibrary.ITestService">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint
              address="net.tcp://localhost:9000"
              binding="netTcpBinding"
              bindingConfiguration="NetTcpEndPointConfiguration"
              contract="WcfServiceLibrary.ITestService" />
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8733/TestService/" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <serviceBehaviors>
          <behavior name="TestServiceBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="False" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <netTcpBinding>
          <binding name="NetTcpEndPointConfiguration"
                   sendTimeout="00:01:00">
            <security mode="None" />
          </binding>
        </netTcpBinding>
      </bindings>
    </system.serviceModel>
</configuration>