<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
      <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      <add key="ServerId" value="11"/>
      <add key="FileForDownloadingPath" value="Resources\FileForDownloading.jpg" />
      <add key="TmpFileForDownloadingPath" value="Resources\TMP.jpg" />
      <add key="UploadedFilePath" value="Resources\UploadedFile.jpg" />
    </appSettings>
    <system.web>
      <compilation debug="true" />
    </system.web>
    <system.serviceModel>
      <services>
        <service behaviorConfiguration="TestServiceBehavior" name="WcfServiceLibrary.StatelessService">
          <endpoint name="BasicHttpEndPoint"
                    address="http://localhost:8733" 
                    binding="basicHttpBinding" 
                    bindingConfiguration="BasicHttpEndPointConfiguration" 
                    contract="WcfServiceLibrary.IStatelessService">
            <identity>
              <dns value="localhost" />
            </identity>
          </endpoint>
          <endpoint name="WebHttpEndPoint"
                    address="http://localhost:9733"
                    binding="webHttpBinding"
                    bindingConfiguration="WebHttpEndPointConfiguration"
                    contract="WcfServiceLibrary.IStatelessService"
                    behaviorConfiguration="WebHttpBehavior"/>
          <endpoint name="NetTcpEndPoint"
                    address="net.tcp://localhost:9000" 
                    binding="netTcpBinding"
                    bindingConfiguration="NetTcpEndPointConfiguration" 
                    contract="WcfServiceLibrary.IStatelessService" />
          <endpoint name="UdpEndPoint"
                    address="soap.udp://localhost:8000"
                    binding="udpBinding"
                    bindingConfiguration="UdpEndPointConfiguration"
                    contract="WcfServiceLibrary.IStatelessService" />
          <endpoint address="mex" 
                    binding="mexHttpBinding" 
                    contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:8733" />
            </baseAddresses>
          </host>
        </service>
      </services>
      <behaviors>
        <endpointBehaviors>
          <behavior name="WebHttpBehavior">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
        <serviceBehaviors>
          <behavior name="TestServiceBehavior">
            <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
            <serviceDebug includeExceptionDetailInFaults="False" />
          </behavior>
        </serviceBehaviors>
      </behaviors>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpEndPointConfiguration"
                   sendTimeout="00:30:00"
                   maxReceivedMessageSize="67108864"
                   transferMode="Streamed"
                   messageEncoding="Mtom">
          </binding>
        </basicHttpBinding>
        <webHttpBinding>
          <binding name="WebHttpEndPointConfiguration"
                   sendTimeout="00:30:00"
                   maxReceivedMessageSize="67108864"
                   transferMode="Streamed">
          </binding>
        </webHttpBinding>
        <netTcpBinding>
          <binding name="NetTcpEndPointConfiguration"
                   sendTimeout="00:30:00"
                   maxReceivedMessageSize="67108864"
                   transferMode="Streamed">
            <security mode="None" />
          </binding>
        </netTcpBinding>
        <udpBinding>
          <binding name="UdpEndPointConfiguration"
                   sendTimeout="00:30:00"
                   maxReceivedMessageSize="67108864">
          </binding>
        </udpBinding>
      </bindings>
    </system.serviceModel>
</configuration>