<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="ServerId" value="1"/>
    
    <!--Stateless service params-->
    
    <add key="FileForDownloadingPath" value="Resources\FileForDownloading.jpg" />
    <add key="TmpFileForDownloadingPath" value="Resources\TMP.jpg" />
    <add key="UploadedFilePath" value="Resources\UploadedFile.jpg" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="TestServiceBehavior" name="WcfServiceLibrary.StatelessService">
        <endpoint name="BasicHttpEndPoint"
                  address="http://testservice:8733"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpEndPointConfiguration"
                  contract="WcfServiceLibrary.IStatelessService">
        </endpoint>
        <endpoint name="BasicHttpEndPointSsl"
                  address="https://testservice:8734"
                  binding="basicHttpBinding"
                  bindingConfiguration="BasicHttpEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService">
        </endpoint>
        <endpoint name="BasicHttpCustomEndPointSsl"
                  address="https://testservice:8736"
                  binding="customBinding"
                  bindingConfiguration="BasicHttpCustomEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService">
        </endpoint>
        <endpoint name="WebHttpEndPoint"
                  address="http://testservice:9733"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpEndPointConfiguration"
                  contract="WcfServiceLibrary.IStatelessService"
                  behaviorConfiguration="WebHttpBehavior"/>
        <endpoint name="WebHttpEndPointSsl"
                  address="https://testservice:9734"
                  binding="webHttpBinding"
                  bindingConfiguration="WebHttpEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService"
                  behaviorConfiguration="WebHttpBehavior"/>
        <endpoint name="WebHttpCustomEndPointSsl"
                  address="https://testservice:9736"
                  binding="customBinding"
                  bindingConfiguration="WebHttpCustomEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService"
                  behaviorConfiguration="WebHttpBehavior"/>
        <endpoint name="NetTcpEndPoint"
                  address="net.tcp://testservice:9000"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpEndPointConfiguration"
                  contract="WcfServiceLibrary.IStatelessService" />
        <endpoint name="NetTcpEndPointSsl"
                  address="net.tcp://testservice:9001"
                  binding="netTcpBinding"
                  bindingConfiguration="NetTcpEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService" />
        <endpoint name="NetTcpCustomEndPointSsl"
                  address="net.tcp://testservice:9002"
                  binding="customBinding"
                  bindingConfiguration="NetTcpCustomEndPointConfigurationSsl"
                  contract="WcfServiceLibrary.IStatelessService" />
        <endpoint name="UdpEndPoint"
                  address="soap.udp://testservice:8000"
                  binding="udpBinding"
                  bindingConfiguration="UdpEndPointConfiguration"
                  contract="WcfServiceLibrary.IStatelessService" />
        <endpoint address="mex"
                  binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://testservice:8888" />
          </baseAddresses>
        </host>
      </service>
      <service behaviorConfiguration="TestServiceBehavior" name="WcfServiceLibrary.StatefulService">
        <endpoint name="WsDualHttpEndpoint"
                  address="http://testservice:8833"
                  binding="customBinding"
                  bindingConfiguration="WsDualHttpEndpointConfiguration"
                  contract="WcfServiceLibrary.IStatefulService">
        </endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://testservice:9999" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="WebHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="TestServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="False" />
          <serviceCredentials>
            <serviceCertificate findValue="455273631a33cda81ac2de2e278b7435d5609eb8" x509FindType="FindByThumbprint" />
            <clientCertificate>
              <authentication certificateValidationMode="PeerOrChainTrust" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
       
      <!--Stateless bindings-->
        
      <basicHttpBinding>
        <binding name="BasicHttpEndPointConfiguration"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed"
                 messageEncoding="Mtom">
          <security mode="None"/>
        </binding>
        <binding name="BasicHttpEndPointConfigurationSsl"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed"
                 messageEncoding="Mtom">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </basicHttpBinding>
      <webHttpBinding>
        <binding name="WebHttpEndPointConfiguration"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed">
          <security mode="None"/>
        </binding>
        <binding name="WebHttpEndPointConfigurationSsl"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="NetTcpEndPointConfiguration"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed">
          <security mode="None" />
        </binding>
        <binding name="NetTcpEndPointConfigurationSsl"
                 sendTimeout="00:30:00"
                 maxReceivedMessageSize="67108864"
                 transferMode="Streamed">
          <security mode="Transport">
            <transport clientCredentialType="Certificate"/>
          </security>
        </binding>
      </netTcpBinding>
      <udpBinding>
        <binding name="UdpEndPointConfiguration"
                 sendTimeout="00:30:00"
                 timeToLive="5"
                 maxReceivedMessageSize="67108864">
        </binding>
      </udpBinding>
      <customBinding>
        <binding name="BasicHttpCustomEndPointConfigurationSsl" sendTimeout="00:30:00">
          <mtomMessageEncoding messageVersion="Soap11" />
          <httpsTransport keepAliveEnabled="false" maxReceivedMessageSize="67108864" transferMode="Streamed" requireClientCertificate="true" />
        </binding>
        <binding name="WebHttpCustomEndPointConfigurationSsl" sendTimeout="00:30:00">
          <webMessageEncoding />
          <httpsTransport keepAliveEnabled="false" maxReceivedMessageSize="67108864" transferMode="Streamed" requireClientCertificate="true" manualAddressing="true" />
        </binding>
        <binding name="NetTcpCustomEndPointConfigurationSsl" sendTimeout="00:30:00">
            <binaryMessageEncoding />
            <sslStreamSecurity requireClientCertificate="true" />
            <tcpTransport maxReceivedMessageSize="67108864" transferMode="Streamed">
              <connectionPoolSettings leaseTimeout="00:00:00" />
            </tcpTransport>
        </binding>

        <!--Stateful bindings-->

        <binding name="WsDualHttpEndpointConfiguration">
          <reliableSession />
          <security authenticationMode="SecureConversation">
            <secureConversationBootstrap authenticationMode="MutualCertificate" />
          </security>
          <compositeDuplex />
          <oneWay />
          <textMessageEncoding />
          <httpTransport keepAliveEnabled="false" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>
</configuration>